{% extends "base.html" %}
{% block body %}
<main class="center">
	<h1 style="margin-bottom: 2rem;">{{profile_user['username']}}</h1>
	{% if profile_user['id'] == user_id %}
		<a href="{{url_for('recipe_create')}}" class="button clickable" style="margin-bottom: 2rem;">Create Recipe</a>
	{% endif %}
	<h2 style="margin-bottom: 1rem;">Favorites</h2>
	{% if favorite_recipes %}
		{% for recipe in favorite_recipes %}
			<a href="{{url_for('recipe', recipe_id=recipe['id'])}}" class="button clickable" style="margin-bottom: 0.5rem;">{{recipe['name']}}</a>
		{% endfor %}
	{% else %}
		{{profile_user['username']}} has no favorites :(
	{% endif %}
	<h2 style="margin-top: 2rem; margin-bottom: 1rem;">Recipes</h2>
	{% if user_recipes %}
		{% for recipe in user_recipes %}
			<a href="{{url_for('recipe', recipe_id=recipe['id'])}}" class="button clickable" style="margin-bottom: 0.5rem;">{{recipe['name']}}</a>
		{% endfor %}
	{% else %}
		{{profile_user['username']}} hasn't posted any recipes :(
	{% endif %}
</main>
{% endblock %}