{% extends "base.html" %}
{% block body %}
<main class="static">
    <h1 style="margin-bottom: 1rem;">{{recipe['name']}}</h1>
    <p>Makes {{recipe['result']}}</p>
    <h2 style="margin-top: 2rem; margin-bottom: 1rem;">Ingredients</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ingredient['ingredient']}}</li>
        {% endfor %}
    </ul>
    <h2 style="margin-top: 2rem; margin-bottom: 1rem;">Steps</h2>
    <ol>
        {% for step in steps %}
            <li>{{step['step']}}</li>
        {% endfor %}
    </ol>
    {% if recipe['user_id'] == user_id %}
    <div style="display: flex; margin-top: 2rem;">
        <a href="{{url_for('recipe_edit', recipe_id=recipe['id'])}}" style="margin-right: 1rem;" class="button clickable">Edit Recipe</a>
        <a href="{{url_for('recipe_delete', recipe_id=recipe['id'])}}" class="button clickable">Delete Recipe</a>
    </div>
    {% endif %}
</main>
{% endblock %}