{% extends "base.html" %}
{% block body %}
<main>
    <form method="post">
        <h1>Create Recipe</h1>
        <input type="text" name="recipe-name" placeholder="Recipe name" required>
        <input type="text" name="result" placeholder="Result" required>
        <textarea name="ingredients" placeholder="Newline separated ingredients" required></textarea>
        <textarea name="steps" placeholder="Newline separated steps" required></textarea>
        <input type="submit" value="Create" class="clickable">
    </form>
</main>
{% endblock %}