{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<main class="static">
    <h1>{{recipe['name']}}</h1>
    <h2 style="margin-top: 2rem; margin-bottom: 1rem;">Ingredients</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ingredient['ingredient']}}</li>
        {% endfor %}
    </ul>
    <h2 style="margin-top: 2rem; margin-bottom: 1rem;">Steps</h2>
    <ol>
        {% for step in steps %}
            <li>{{step['step']}}</li>
        {% endfor %}
    </ol>
    {% if recipe['user_id'] == user_id %}
        <a href="{{url_for('recipe_edit', recipe_id=recipe['id'])}}" style="margin-top: 2rem; margin-bottom: 1rem;" class="button clickable">Edit Recipe</a>
    {% endif %}
</main>
{% endblock %}