{% extends "base.html" %}
{% block body %}
<main class="static">
	<form action="{{url_for('search')}}" method="post" style="display: flex; flex-direction: row; margin-bottom: 2rem;">
		<input type="text" name="term" style="margin-right: 0.5rem;" value="{{term}}">
		<input type="submit" value="Search">
	</form>
	<h1 style="margin-bottom: 2rem;">Search Results for '{{term}}'</h1>
	{% for recipe in results %}
		<a href="{{url_for('recipe', recipe_id=recipe['id'])}}" class="button clickable" style="margin-bottom: 0.5rem;">{{recipe['name']}}</a>
	{% endfor %}
</main>
{% endblock %}